.smw-portfolio.smw-basic {
  /*COLOR THEMES*/ }
  .smw-portfolio.smw-basic table {
    width: 100%;
    background: #ffffff;
    margin: 1rem 0rem;
    box-shadow: none;
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.8);
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #d4d4d5; }
    .smw-portfolio.smw-basic table thead th {
      font-size: 1rem;
      cursor: pointer;
      white-space: normal;
      text-align: left;
      padding: 0.7rem 0.8rem;
      vertical-align: middle;
      font-weight: bold;
      text-transform: none; }
      .smw-portfolio.smw-basic table thead th.ascending:after {
        content: '\2191'; }
      .smw-portfolio.smw-basic table thead th.descending:after {
        content: '\2193'; }
      .smw-portfolio.smw-basic table thead th:first-child {
        border-radius: 0.25rem 0 0 0;
        border-left: none; }
    .smw-portfolio.smw-basic table tbody tr:hover {
      background: #f2f2f2; }
    .smw-portfolio.smw-basic table tbody tr td {
      font-size: 1rem;
      padding: 0.7rem 0.8rem;
      text-align: left;
      vertical-align: middle;
      transition: all 0.2s ease;
      border-top: 1px solid #d4d4d5; }
      .smw-portfolio.smw-basic table tbody tr td:first-child {
        border-left: none; }
      .smw-portfolio.smw-basic table tbody tr td.smw-cell-with-indicator {
        white-space: nowrap; }
